<html> 
<div>

    <a class="layout__boxTitle"><h3>Recent Activities</h3></a>
    <hr>
    {% for message in room_messages %}
        <dev>
            <a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>
            <small>{{message.created|timesince}} ago replied to "{{message.room}}"</small>

            <a class='layout__boxHeader'><p>{{message}}</p></a>
            {% if request.user == message.user %}
                <a href ="{% url 'delete-message' message.id%}">Delete</a>
            {% endif %}
            <hr>
        </dev>

    {% endfor %}

</div>

