<html>

{% extends 'main.html' %}

{% block content%}

{% if page == 'Login' %}
<div>
    <h1>Login Page </h1>
    <form method="POST" action="">
        {% csrf_token %}
           

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" />



        <input type="submit" value="Login"/>


    </form>
    <p>haven't signed up yet?</p>
    <a href = "{% url 'register'%}" >Sign Up</a>
</div>

{% else %}
<div>
    <h1>Register Page </h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}   

        
        <input type="submit" value="Register"/>


    </form>
    <p>have an account?</p>
    <a href = "{% url 'login'%}" >Log In</a>
</div>
{% endif %}

{% endblock content%}

</html>