<html>

<div>
    <a class="layout__boxTitle"><h3>Browse Courts</h3></a>
    <hr>
    <div>
        <a href="{% url 'home'%}">All</a>

    </div>

    {% for court in courts%}
        <div>
            <a href="{% url 'home'%}?q={{court.name}}">{{court.name}}</a>

        </div>

    {% endfor%}
             
    <a class="layout__boxTitle"><h3>Browse Topics</h3></a>    
    
        <hr>
  
    <div>
        <a href="{% url 'home'%}">All</a>
        
    </div>

    {% for topic in topics%}
        <div>
            <a href="{% url 'home'%}?q={{topic.name}}">{{topic.name}}</a>

        </div>
    {% endfor %}


</div>

</html>